@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  margin: 0px auto;
  padding: 0px auto;
}

.article {
  @apply prose;
  @apply bg-base-200;
  @apply m-auto;
  @apply min-h-screen;
  @apply p-4;
}