.DS_Store
node_modules
/build
/.svelte-kit
svelte.config.js
/db/pb_migrations
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock
bun.lockb
Cargo.lock

target/
