# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Dependency directories
node_modules/
.pnpm-store

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# local dotenv files
.env.*.local
.env.local

# Temporary files
data
vite.config.ts.*.mjs

# database
pocketbase/pb_data/*


db/dist/

# labjack provider build
labjack_provider/build

# VSCode config
.vscode/*

*/dist/
target

# cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
**/CMakeFiles/
**/cmake_install.cmake
Makefile
CMakeHelloWorld
*.a
**/*.a
build/**