# Logs
logs
*.log
npm-debug.log*
.pnpm-debug.log*


# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# SvelteKit
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.output

# Temporary files
data

# Cargo
target/
