@import 'tailwindcss';

/* Carbon Design System Styles */
@import "carbon-components-svelte/css/all.css";
@import "@carbon/charts-svelte/styles.css";

/* FontAwesome */
@import '@fortawesome/fontawesome-free/css/all.min.css';


/* Custom ScrollBar */
::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar {
	overflow-y: overlay;
}

::-webkit-scrollbar {
	width: 16px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
	margin: 0;
	overflow-y: overlay;
}

::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 58%, 0.6);
	background-clip: padding-box;
	border: 4px solid transparent;
	border-radius: 16px;
	overflow-y: overlay;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(80, 80, 80, 0.8);
	background-clip: padding-box;
	border: 3px solid hsla(0, 0%, 58%, 0.7);
	border-radius: 64px;
	overflow-x: hidden;
	overflow-y: overlay;
}

::-webkit-scrollbar-corner {
	background: rgba(0, 0, 0, 0);
}

/* Prevent IOS zoom */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select,
	textarea,
	input {
		font-size: 16px !important;
	}
}

/* Custom Corner Bracketed Component */
.corner-bracketed {
	position: relative;
}

.corner-bracketed::before,
.corner-bracketed::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
}

.corner-bracketed::before {
	top: 0;
	left: 0;
	border-top: 2px solid var(--cds-text-primary);
	border-left: 2px solid var(--cds-text-primary);
}

.corner-bracketed::after {
	bottom: 0;
	right: 0;
	border-bottom: 2px solid var(--cds-text-primary);
	border-right: 2px solid var(--cds-text-primary);
}


/* Carbon overrides */

.bx--content {
	padding: 0px;
}