/* @tailwind utilities; */
@import url('@fortawesome/fontawesome-free/css/all.min.css');

.lm_goldenlayout {
	@apply bg-surface-100-800-token;
}

.lm_dropTargetIndicator {
	outline: 1px dashed rgba(var(--color-surface-500) / 1);
}

.lm_dropTargetIndicator .lm_inner {
	background: rgba(var(--color-surface-900) / 1);
	opacity: 0.1;
}

.lm_splitter {
	background-color: rgb(var(--color-surface-500));
	transition: background-color 200ms;
}

.lm_splitter.lm_horizontal {
	width: 2px !important;
}

.lm_splitter.lm_vertical {
	height: 2px !important;
}

.lm_splitter:hover,
.lm_dragging {
	background: rgb(var(--color-primary-500));
}

.lm_header .lm_tabs {
	@apply h-full flex items-center;
}

.lm_header .lm_tab {
	@apply p-1 flex items-center content-around gap-1 h-full m-0;
	@apply text-sm bg-primary-hover-token text-surface-800-100-token;
}

.lm_title {
	display: block;
}

.lm_header .lm_tab .lm_close_tab {
	@apply fas fa-xmark;
	display: block;
	position: inherit;
	opacity: 0.4;
}
.lm_header .lm_tab .lm_close_tab:hover {
	opacity: 1;
}
.lm_header .lm_tab.lm_active .lm_close_tab {
	opacity: 1;
}

.lm_tab.lm_active {
	@apply !bg-primary-400-500-token p-0 px-1;
}

.lm_controls > * {
	position: relative;
	opacity: 0.8;
	transition: opacity 300ms ease;
}

.lm_controls {
	@apply text-surface-800-100-token;
	height: 100%;
	align-items: center;
}

.lm_controls > *:hover {
	@apply bg-primary-hover-token;
}

.lm_maximise {
	@apply fas fa-expand;
}

.lm_close {
	@apply fas fa-xmark;
}

.lm_maximised .lm_maximise {
	@apply fas fa-compress;
}
